:root {
    --pure_white: #fff;
    --white: #f8f8f8;
    --dark_white: #f3f3f3;
    --light_gray: #e7e7e7;
    --pearl_gray: #dbdbdb;
    --pale_gray: #b2b2b2;
    --gray: #8f8f8f;
    --dark_gray: #7e7e7e;
    --blue: #29c5e6;
    --black: black;
}

body {
    color: var(--gray);
    font: 12px Tahoma, sans-serif;
    background-color: var(--white);
    border-top: 5px solid var(--dark_gray);
    margin: 0;
}

input[type="number"] {
    background-color: var(--dark_white);
    border: 1px solid var(--light_gray);
    color: var(--black);
    padding: 0 10px;
    vertical-align: top;
}

.active_button {
    background: var(--blue);
    color: var(--pure_white);
}

p {
    margin: 20px 0;
}

#wrapper {
    max-width: 1280px;
    margin: auto;
}

header {
    display: inline-block;
    color: var(--dark_gray);
    font: 30px/30px 'Oswald', sans-serif;
    padding: 20px 0;
    margin: 0;
    padding: 15px 10px;
}

nav {
    background-color: var(--light_gray);
}

nav ul {
    margin: 0;
    padding: 0;
}

.top_menu li {
    list-style-position: inside;
    font: 16px 'Oswald', sans-serif;
    text-transform: uppercase;
    display: inline-block;
    padding: 10px 30px;
    margin: 0;
}

#container {
    background-color: var(--dark_white);
    margin-top: 13px;
    height: auto;
    padding: 10px;
}

#control_panel {
    background-color: var(--pearl_gray);
    margin-bottom: 10px;
}

#control_panel div {
    list-style-position: inside;
    font: 14px 'Oswald', sans-serif;
    text-transform: uppercase;
    display: inline-block;
    padding: 10px 20px; 
}

#control_panel p {
    margin: 2px;
}

#control_panel input{
    height: 20px;
    width: 32px;
}

#weight_and_price {
    width: 600px;
}

#content {
    background-color: var(--dark_white);
    height: 650px;
}

#algorithm_table {
    width: 75%;
    height: 100%;
    margin-right: 10px;
    float: left;
    overflow: auto;
}

#step_info {
    width: 24%;
    height: 49%;
    margin-bottom: 10px;
    float: right;
}

#algorithm_result {
    width: 24%;
    height: 49%;
    float: right;
}

.active_window {
    display: "";
}

.inactive_window {
    display: none;
}

table {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 14px;
    border-collapse: collapse;
    text-align: center;
}

td:first-child {
    background: var(--blue);
    color: white;
    padding: 5px 15px;
}

td {
    border-style: solid;
    border-width: 0 1px 1px 0;
    border-color: white;
    background: var(--pearl_gray);
    padding: 5px 15px;
}

.taken_item {
    background: #FF9A40;
    color: black;
}

.went_item {
    background: var(--pale_gray);
    color: white;
}

.current_cell {
    background: var(--dark_gray);
    color: white;
}

.previous_good_cell {
    background: #37DA7E;
    color: black;
}

.previous_bad_cell {
    background: #FF6840;
    color: black;
}